# Server Config
BASE_URL=https://url.dev
PORT=8080
ENVIRONMENT=development
SESSION_KEY=astrongstringofatleast32bytes
# Database Configuration
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_PORT=5432

# EMAIL SERVICE
POSTMARK_SERVER_TOKEN=

# Goose Migration Configuration
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./migrations
# GOOSE_DBSTRING is constructed in docker-compose.yml from DB_* variables

# Migration Control
RESET_MIGRATIONS=false

#Logging Configuration
LOG_LEVEL=DEBUG
TZ=UTC
