package component

templ WeekDayBox(day string, isSelected bool) {
    <div class="flex flex-col items-center">
        <div class="text-xs font-medium text-gray-500 mb-2">{ day }</div>
        <div 
            class={ "h-10 w-10 rounded-lg flex items-center justify-center",
                templ.KV("bg-indigo-600 text-white font-medium", isSelected),
                templ.KV("bg-gray-100 text-gray-500", !isSelected) }>
            { day }
        </div>
    </div>
}